.header {
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;

	@include above (sm) {
		position: absolute;
		width: 100%;
	}

	&__logo {
		display: block;
		float: left;

		img {
			width: 200px;
			height: 65px;

			@include above (sm) {
				width: 245px;
				height: 80px;
			}
		}
	}
}